[Desktop Entry]
Type=Application
Name=Utsav
Comment=JatayuOS launcher
Exec=/usr/bin/jatayu-app utsav
Icon=x-office-calendar
Terminal=false
Categories=Office;
